In [25]:
## import library
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
import pandas as pd
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.by import By
import time

## the driver helps tio scrape websites

***If selenium is not working downgrade to version 4.2.0***

Every time you have to run the code below when using selenium

In [26]:
## website to scrape

website = "https://www.adamchoi.co.uk/overs/detailed"
path = 'C:/Users/cmwak/chrome_driver/chromedriver'

## define a driver variable'
driver = webdriver.Chrome(service=Service(path))
driver.maximize_window()
## open the driver
driver.get(website)

## get the elements - for all matches
all_matches_button = driver.find_element(By.XPATH, '//label[@analytics-event="All matches"]')
all_matches_button.click()

## close the driver
driver.quit()

## Extracting data from elements with selenium

### scrape tables

>- Note we cannot scrape td within tr
>- We can only scrape tr within tbody
>- In this case we are going to scrape all the tables withing the page under the element all_matchers
>- This comprises of all the 38 matches [Home and Away] for each premier league team during the 2022/2023 season

In [27]:
## define a driver variable'
driver = webdriver.Chrome(service=Service(path))

## open the driver
driver.get(website)

driver.maximize_window()

## get the elements
all_matches_button = driver.find_element(By.XPATH, '//label[@analytics-event="All matches"]')
all_matches_button.click()


## extracting data from tables by tagname
matches = driver.find_elements(By.TAG_NAME, 'tr') 
## for

## the above returns a list

for match in matches[:10]:
    print(match.text)

# close the browser after extracting the tables
driver.quit()

05-08-2022 Crystal Palace 0 - 2 Arsenal
13-08-2022 Arsenal 4 - 2 Leicester
20-08-2022 Bournemouth 0 - 3 Arsenal
27-08-2022 Arsenal 2 - 1 Fulham
31-08-2022 Arsenal 2 - 1 Aston Villa
04-09-2022 Man United 3 - 1 Arsenal
18-09-2022 Brentford 0 - 3 Arsenal
01-10-2022 Arsenal 3 - 1 Tottenham
09-10-2022 Arsenal 3 - 2 Liverpool
16-10-2022 Leeds 0 - 1 Arsenal

## Items to Extract from the table

1. Match Date
2. Home Team
3. Away Team
4. Match Score

**_NB: Xpath indexing begins at 1 not like Python at zero_**

In [28]:
## define a driver variable'

driver = webdriver.Chrome(service=Service(path))

driver.maximize_window()

## open the driver
driver.get(website)
 

## get the elements
all_matches_button = driver.find_element(By.XPATH, '//label[@analytics-event="All matches"]')
all_matches_button.click()


## extracting data from tables by tagname
matches = driver.find_elements(By.TAG_NAME, 'tr')

## the above returns a list

## store the data
date = []
home_team = []
score = []
away_team = []


for match in matches:
    ## search the td from the matches (td)
    date.append(match.find_element(By.XPATH, './td[1]').text)
    home = match.find_element(By.XPATH, './td[2]').text
    home_team.append(home)
    #print(home)
    score.append(match.find_element(By.XPATH, './td[3]').text)
    away_team.append(match.find_element(By.XPATH, './td[4]').text)   
   

    ## . indicates current path in this case (is tr)
## quit the driver
driver.quit()

In [29]:
## store the data into a data frame
football_dict = {'date': date, 
                'home_team': home_team,
                'score': score, 
                'away_team': away_team}
football_df = pd.DataFrame(football_dict)

In [30]:
football_df.shape

(760, 4)

In [31]:
football_df.sort_values('date', ascending=False, inplace=True)
## write the data to csv
football_df.to_csv("Premier_League_Matches.csv", index=False)

In [18]:
football_df

           date      home_team  score       away_team
738  31-12-2022         Wolves  0 - 1      Man United
624  31-12-2022         Fulham  2 - 1     Southampton
548  31-12-2022      Newcastle  0 - 0           Leeds
320  31-12-2022         Fulham  2 - 1     Southampton
92   31-12-2022    Bournemouth  0 - 2  Crystal Palace
..          ...            ...    ...             ...
441  01-03-2023      Liverpool  2 - 0          Wolves
205  01-01-2023  Nott'm Forest  1 - 1         Chelsea
586  01-01-2023  Nott'm Forest  1 - 1         Chelsea
662  01-01-2023      Tottenham  0 - 2     Aston Villa
54   01-01-2023      Tottenham  0 - 2     Aston Villa

[760 rows x 4 columns]

## <center><b>Selecting Elements with dropdowns</b></center>

Display all the elements in the dropdown: 
    

```python

## define a driver variable'
driver = webdriver.Chrome(service=Service(path))

## open the driver
driver.get(website)
 
## get the elements
all_matches_button = driver.find_element(By.XPATH, '//label[@analytics-event="All matches"]')
all_matches_button.click()


dropdown = Select(driver.find_element(By.ID, 'country'))

options = dropdown.options
num_options = len(options)

for index in range(num_options):
    dropdown.select_by_index(index)
    time.sleep(1)
    
    # Example: Print the selected option's text
    selected_option = dropdown.first_selected_option
    print(f"Selected option at index {index}: {selected_option.text}")
    
```

In [33]:
## define a driver variable'
driver = webdriver.Chrome(service=Service(path))

## open the driver
driver.get(website)
 
## get the elements
all_matches_button = driver.find_element(By.XPATH, '//label[@analytics-event="All matches"]')
all_matches_button.click()


dropdown = Select(driver.find_element(By.ID, 'country'))

options = dropdown.options
num_options = len(options)

for index in range(num_options):
    dropdown.select_by_index(index)
    time.sleep(1)
    
    # Example: Print the selected option's text
    selected_option = dropdown.first_selected_option
    print(f"Selected option at index {index}: {selected_option.text}")
# driver.quit()

Selected option at index 0: England
Selected option at index 1: Spain
Selected option at index 2: Germany
Selected option at index 3: Italy
Selected option at index 4: France
Selected option at index 5: Scotland
Selected option at index 6: Netherlands
Selected option at index 7: Portugal
Selected option at index 8: Turkey
Selected option at index 9: Greece
Selected option at index 10: Belgium
Selected option at index 11: Brazil
Selected option at index 12: Austria
Selected option at index 13: Russia
Selected option at index 14: Argentina
Selected option at index 15: Denmark
Selected option at index 16: Poland
Selected option at index 17: USA
Selected option at index 18: Norway
Selected option at index 19: Sweden
Selected option at index 20: Finland
Selected option at index 21: Switzerland
Selected option at index 22: Australia
Selected option at index 23: Japan
Selected option at index 24: China
Selected option at index 25: Mexico
Selected option at index 26: Ukraine
Selected option at index 27: Czechia

Select matches played in the spanish league : _La Liga Santander_

In [34]:
## define a driver variable'
driver = webdriver.Chrome(service=Service(path))

## open the driver
driver.get(website)
 
## get the elements
all_matches_button = driver.find_element(By.XPATH, '//label[@analytics-event="All matches"]')
all_matches_button.click()


dropdown = Select(driver.find_element(By.ID, 'country'))
dropdown.select_by_visible_text('Spain')

## selenium selects spain


## use wait to control the wait time when loading
time.sleep(3)

## the above tells selenium to wait for 3 seconds while loading



## extracting data from tables by tagname
matches = driver.find_elements(By.TAG_NAME, 'tr')

## the above returns a list

## store the data
date = []
home_team = []
score = []
away_team = []


for match in matches:
    ## search the td from the matches (td)
    date.append(match.find_element(By.XPATH, './td[1]').text)
    home = match.find_element(By.XPATH, './td[2]').text
    home_team.append(home)
    ##print(home)
    score.append(match.find_element(By.XPATH, './td[3]').text)
    away_team.append(match.find_element(By.XPATH, './td[4]').text)   

    ## . indicates current path in this case (is tr)

In [35]:
## store the data into a data frame
spain_football_dict = {'date': date, 
                'home_team': home_team,
                'score': score, 
                'away_team': away_team}
spain_football_df = pd.DataFrame(spain_football_dict)

In [36]:
spain_football_df

           date   home_team  score    away_team
0    14-08-2022     Almeria  1 - 2  Real Madrid
1    22-08-2022       Elche  1 - 1      Almeria
2    27-08-2022     Almeria  2 - 1      Sevilla
3    05-09-2022  Valladolid  1 - 0      Almeria
4    12-09-2022     Almeria  0 - 1      Osasuna
..          ...         ...    ...          ...
755  13-05-2023  Villarreal  5 - 1   Ath Bilbao
756  20-05-2023      Girona  1 - 2   Villarreal
757  24-05-2023  Villarreal  2 - 0        Cadiz
758  28-05-2023   Vallecano  2 - 1   Villarreal
759  04-06-2023  Villarreal  2 - 2   Ath Madrid

[760 rows x 4 columns]

In [37]:
## write the data to csv
spain_football_df.to_csv("Spain_La_Liga_Matches.csv", index=False)